<table>
  <caption class="north">NORTH STATION DEPARTURES</caption>
  <thead>
    <tr>
      <th class="left">Carrier</th>
      <th>Time</th>
      <th>Destination</th>
      <th>Train#</th>
      <th>Track#</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let rd of northStationData; let i = index;">
    <tr *ngIf="i<10">
      <td class="left">MBTA</td>
      <td *ngIf="rd.departure_time">{{ rd.departure_time | date: 'hh:mm': '-0500'}}</td>
      <td *ngIf="!rd.departure_time">TBA</td>
      <td>{{rd.headsign}}</td>
      <td>{{rd.train_num}}</td>
      <td>{{rd.platform_code}}</td>
      <td>{{rd.status}}</td>
    </tr>
  </tbody>
</table>
<br/>
<br/>


<table>
  <caption class="south">SOUTH STATION DEPARTURES</caption>
  <thead>
    <tr>
      <th class="left">Carrier</th>
      <th>Time</th>
      <th>Destination</th>
      <th>Train#</th>
      <th>Track#</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let rd of southStationData; let i = index;">
    <tr *ngIf="i<10">
      <td class="left">MBTA</td>
      <td *ngIf="rd.departure_time">{{ rd.departure_time | date: 'hh:mm': '-0500'}}</td>
      <td *ngIf="!rd.departure_time">TBA</td>
      <td>{{rd.headsign}}</td>
      <td>{{rd.train_num}}</td>
      <td>{{rd.platform_code}}</td>
      <td>{{rd.status}}</td>
    </tr>
  </tbody>
</table>